.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #333;
    color: white;
}



.hamburger {
    cursor: pointer;
    display: none;
}

.icon-bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
}

.menu-items {
    display: flex;
    align-items: center;
}

.menu-items a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

/* timline */
.timeline-container,
.new-post-container {
    width: 66%;
    margin-left: auto;
    margin-right: auto;
}

.timeline-content {
    max-width: 100%;
    margin: 0 auto;
}


@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .menu-items {
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
        display: none;
    }

    .menu-items.show-menu {
        display: flex;
    }
}