.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 columns */
    grid-template-rows: repeat(3, 1fr);
    /* 3 rows */
    gap: 16px;
}

.grid-item {
    text-align: center;
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}